.restaurant-container{
  background: #F0F0F0;
  padding: 10px;
  .restaurant-details{
    background: #F9F9F9;
    height: 95%;
    display: flex;
    justify-content: space-between;
    .image{
      margin-bottom: 10px;
      margin-left: 10px;
      padding-top: 20px;

    }
    .restaurant-name, .restaurant_ratings{
      margin-bottom: 0;
      margin-top: 10px;
    }
    .restaurant-info{
      align-self: center;
    }
    .restaurant_ratings{
      margin-right: 10px;
    }
  }
}