@import '~bulma/css/bulma.css';

.m-t-30{
  margin-top: 30px;
}

.m-t-20{
  margin-top: 20px;
}
.m-b-30{
  margin-bottom: 30px;
}
.m-b-10{
  margin-bottom: 10px;
}

.m-t-10{
  margin-top: 10px;
}

.m-l-10{
  margin-left: 10px;
}
.m-r-10{
  margin-right: 10px !important;
}

.p-r-10{
  padding-right: 10px !important;
}